-
    var arrShops = [
    {
    'name':'polejzaeva',
    'title':'ПОЛЕЖАЕВА',
    'link':'/assets/img/polej.jpg',
    'address':'г. Саранск, ул. Полежаева, 46',
    'phone_link':'tel:+79272766795',
    'phone':'+7(927)276-67-95',
    'time': 'ежедневно/24 часа',
    'x': 54.189405,
    'y': 45.178670,
    'desc':'Магазин находится в самом центре города, в шаговой доступности от университетского городка, площади Тысячелетия и цетрального рынка'
    },
    {
    'name':'anyutini',
    'title':'АНЮТИНЫ ГЛАЗКИ',
    'link':'/assets/img/polej.jpg',
    'address':'г. Саранск, ул. Веселовского, 40а',
    'phone_link':'tel:+79272763963',
    'phone':'+7(927)276-39-63',
    'time': 'ежедневно/24 часа',
    'x': 54.225722,
    'y': 45.135791,
    'desc':'Магазин находится в самом центре города, в шаговой доступности от университетского городка, площади Тысячелетия и цетрального рынка'
    },
    {
    'name':'magnolia',
    'title':'МАГНОЛИЯ',
    'link':'/assets/img/polej.jpg',
    'address':'г. Саранск, ул. Веселовского, 84',
    'phone_link':'tel:+79272762956',
    'phone':'+7(927)276-29-56',
    'time': 'ежедневно/24 часа',
    'x': 54.222284,
    'y': 45.125299,
    'desc':'Магазин находится в самом центре города, в шаговой доступности от университетского городка, площади Тысячелетия и цетрального рынка'
    },
    {
    'name':'veselovskogo',
    'title':'ВЕСЕЛОВСКОГО',
    'link':'/assets/img/polej.jpg',
    'address':'г. Саранск, ул. Веселовского, 22',
    'phone_link':'tel:+79297482415',
    'phone':'+7(927)748-24-15',
    'time': 'ежедневно/8:00-20:00',
    'x': 54.224333,
    'y': 45.141183,
    'desc':'Магазин находится в самом центре города, в шаговой доступности от университетского городка, площади Тысячелетия и цетрального рынка'
    },
    {
    'name':'kovalenko',
    'title':'КОВАЛЕНКО',
    'link':'/assets/img/polej.jpg',
    'address':'г. Саранск, ул. Коваленко, 12',
    'phone_link':'tel:+79272764764',
    'phone':'+7(927)276-47-64',
    'time': 'ежедневно/24 часа',
    'x': 54.217024,
    'y': 45.120444,
    'desc':'Магазин находится в самом центре города, в шаговой доступности от университетского городка, площади Тысячелетия и цетрального рынка'
    },
    {
    'name':'dionis',
    'title':'ДИОНИС',
    'link':'/assets/img/polej.jpg',
    'address':'г. Саранск, ул. Косарева, 13б',
    'phone_link':'tel:+79272764697',
    'phone':'+7(927)276-46-97',
    'time': 'ежедневно/24 часа',
    'x': 54.193957,
    'y': 45.236852,
    'desc':'Магазин находится в самом центре города, в шаговой доступности от университетского городка, площади Тысячелетия и цетрального рынка'
    },
    {
    'name':'nevod',
    'title':'НЕВОД',
    'link':'/assets/img/polej.jpg',
    'address':'г. Саранск, ул. Косарева, 104',
    'phone_link':'tel:+79272763963',
    'phone':'+7(927)276-39-63',
    'time': 'ежедневно/24 часа',
    'x': 54.199597,
    'y': 45.247994,
    'desc':'Магазин находится в самом центре города, в шаговой доступности от университетского городка, площади Тысячелетия и цетрального рынка'
    },
    {
    'name':'gagarina',
    'title':'ГАГАРИНА',
    'link':'/assets/img/polej.jpg',
    'address':'г. Саранск, ул. Гагарина, 14',
    'phone_link':'tel:+79272762648',
    'phone':'+7(927)276-26-48',
    'time': 'ежедневно/24 часа',
    'x': 54.190418,
    'y': 45.159572,
    'desc':'Магазин находится в самом центре города, в шаговой доступности от университетского городка, площади Тысячелетия и цетрального рынка'
    },
    {
    'name':'chaika',
    'title':'ЧАЙКА',
    'link':'/assets/img/polej.jpg',
    'address':'г. Саранск, пр. 50 лет Октября, 3',
    'phone_link':'tel:+79272762571',
    'phone':'+7(927)276-25-71',
    'time': 'ежедневно/24 часа',
    'x': 54.171526,
    'y': 45.150490,
    'desc':'Магазин находится в самом центре города, в шаговой доступности от университетского городка, площади Тысячелетия и цетрального рынка'
    },
    {
    'name':'lenina',
    'title':'ЛЕНИНА',
    'link':'/assets/img/polej.jpg',
    'address':'г. Рузаевка, ул. Ленина, 53',
    'phone_link':'tel:+79272762516',
    'phone':'+7(927)276-25-16',
    'time': 'ежедневно/24 часа',
    'x': 54.058375,
    'y': 44.947967,
    'desc':'Магазин находится в самом центре города, в шаговой доступности от университетского городка, площади Тысячелетия и цетрального рынка'
    },
    {
    'name':'kosmos',
    'title':'КОСМОС',
    'link':'/assets/img/polej.jpg',
    'address':'г. Рузаевка, ул. Маяковского, 99',
    'phone_link':'tel:+79271906734',
    'phone':'+7(927)190-67-34',
    'time': 'ежедневно/8:00 - 20:00',
    'x': 54.072793,
    'y': 44.953074,
    'desc':'Магазин находится в самом центре города, в шаговой доступности от университетского городка, площади Тысячелетия и цетрального рынка'
    }
    ]

section.shop
    for item in arrShops
        -if (title == item.name)
            h2.shop__title=item.title
            .shop__wrap
                img(src=item.link alt=item.title).shop__img
                .shop__content
                    p.shop__address.text Мы находимся:
                        span.bold #{item.address}
                    a(href=item.phone_link).text.shop__phone Наш телефон:
                        span.bold #{item.phone}
                    p.text Режим работы:
                        span.bold #{item.time}
                    p.shop__desc.text=item.desc
                    .map#map(attr-loc-x=item.x attr-loc-y=item.y)